$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-white: #FFFFFF;
$color-white-darker: #F7F7F7;
$color-white-dark: #EAEAEA;

$color-black-lighter: #353535;

$background-color-primary: $color-white;
$background-color-secondary: $color-white-darker;
$background-color-tertiary: $color-white-dark;

$background-color-footer: $color-black-lighter;
