@import "../components/button";

.banner-location {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    background-color: $color-white-dark;
    box-shadow: inset -1px 6px 8px -2px hsl(180, 1%, 70%);

    &__text, &__icon {
        margin: 0;
        color: #4C4C4C;
    }
}

.search-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color-secondary;

    &__heading, &__subtitle {
        text-align: center;
    }

    &__subtitle {
        margin-top: 0
    }

    &__btn {
        @include btn-primary;
    }
}
